In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
db = pd.read_csv('FIFA-21 Complete.csv', delimiter=";")

db = db.sort_values(['player_id'])
db.head()

,player_id,name,nationality,position,overall,age,hits,potential,team
310,41,Iniesta,Spain,LM|CM|CAM,82,36,57,82,Vissel Kobe
1271,80,Emre Belözoglu,Turkey,CDM|CM,77,39,6,77,Fenerbahçe SK
4174,768,Felipe,Brazil,CB,72,35,0,72,SPAL
222,1179,Gianluigi Buffon,Italy,GK,83,42,50,83,Juventus
4173,2147,Maarten Stekelenburg,Netherlands,GK,72,37,2,72,Everton

In [3]:
db.dtypes

player_id       int64
name           object
nationality    object
position       object
overall         int64
age             int64
hits            int64
potential       int64
team           object
dtype: object

In [4]:
db = db.set_index('player_id')

In [5]:
db[::-1]

,name,nationality,position,overall,age,hits,potential,team
player_id,,,,,,,,
256469,Juan Camilo Suárez,Colombia,CB,56,21,0,63,Envigado FC
256467,Joan Parra,Colombia,GK,59,20,0,71,Envigado FC
256460,Tim Luis Maciejewski,Germany,LM|CAM|RW,64,19,0,79,1. FC Union Berlin
256445,Ruvira,Spain,GK,56,20,0,70,CF Fuenlabrada
256444,Luciano Arriagada,Chile,ST,57,18,0,73,Colo-Colo
...,...,...,...,...,...,...,...,...
2147,Maarten Stekelenburg,Netherlands,GK,72,37,2,72,Everton
1179,Gianluigi Buffon,Italy,GK,83,42,50,83,Juventus
768,Felipe,Brazil,CB,72,35,0,72,SPAL
80,Emre Belözoglu,Turkey,CDM|CM,77,39,6,77,Fenerbahçe SK
41,Iniesta,Spain,LM|CM|CAM,82,36,57,82,Vissel Kobe

In [7]:
print(db.iloc[0].team)
print(db.iloc[0].team[:-1])

Vissel Kobe
Vissel Kobe

In [8]:
db.team = db.team.str.rstrip()
db

,name,nationality,position,overall,age,hits,potential,team
player_id,,,,,,,,
41,Iniesta,Spain,LM|CM|CAM,82,36,57,82,Vissel Kobe
80,Emre Belözoglu,Turkey,CDM|CM,77,39,6,77,Fenerbahçe SK
768,Felipe,Brazil,CB,72,35,0,72,SPAL
1179,Gianluigi Buffon,Italy,GK,83,42,50,83,Juventus
2147,Maarten Stekelenburg,Netherlands,GK,72,37,2,72,Everton
...,...,...,...,...,...,...,...,...
256444,Luciano Arriagada,Chile,ST,57,18,0,73,Colo-Colo
256445,Ruvira,Spain,GK,56,20,0,70,CF Fuenlabrada
256460,Tim Luis Maciejewski,Germany,LM|CAM|RW,64,19,0,79,1. FC Union Berlin
256467,Joan Parra,Colombia,GK,59,20,0,71,Envigado FC
256469,Juan Camilo Suárez,Colombia,CB,56,21,0,63,Envigado FC

In [9]:
engine = create_engine('postgresql://soundarzozm:chittorababy@localhost:5432/fifa21')
db.to_sql('data', engine)

981