In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
db = pd.read_csv('FIFA-21 Complete.csv', delimiter=";")

db = db.sort_values(['player_id'])
db.head()

,player_id,name,nationality,position,overall,age,hits,potential,team
310,41,Iniesta,Spain,LM|CM|CAM,82,36,57,82,Vissel Kobe
1271,80,Emre Belözoglu,Turkey,CDM|CM,77,39,6,77,Fenerbahçe SK
4174,768,Felipe,Brazil,CB,72,35,0,72,SPAL
222,1179,Gianluigi Buffon,Italy,GK,83,42,50,83,Juventus
4173,2147,Maarten Stekelenburg,Netherlands,GK,72,37,2,72,Everton

In [10]:
db.dtypes

player_id       int64
name           object
nationality    object
position       object
overall         int64
age             int64
hits            int64
potential       int64
team           object
dtype: object

In [12]:
engine = create_engine('postgresql://soundarzozm:chittorababy@localhost:5432/fifa21')
db.to_sql('data', engine)

981